.div_alrededor_paycard{
      
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1054px;
  height: 222px;

  flex: none;
  order: 1;
  flex-grow: 0;

}

.div_borde_paycard{

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;

  width: 1054px;
  height: 223px;

  border: 1px solid #2D7474;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.div_tarjeta_paycard{

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 13px;

  width: 1006px;
  height: 174px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.div_tarjeta_paycard_interno{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 1006px;
  height: 174px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.div_shadow_paycard{

  width: 1006px;
  height: 174px;

  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  border-radius: 10px;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.div_fondo_paycard{

  position: absolute;
  width: 1006px;
  height: 174px;
  left: 0px;
  top: 0px;
  
  background: rgb(204 231 231);
  border-radius: 10px;

}

.nombre_psicologo_en_paycard{

  position: absolute;
  width: 497px;
  height: 31px;
  left: 199px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  color: #007F7F;

}

.fecha_turno_en_pagos{
  
  position: absolute;
  width: 462px;
  height: 22px;
  left: 192px;
  top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #002626;

}

.modalidad_turno_pagos{
  
  position: absolute;
  width: 317px;
  height: 22px;
  left: 192px;
  top: 92px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #002626;

}

.el_turno_es_confirmado_o_no{

  position: absolute;
  width: 317px;
  height: 22px;
  left: 192px;
  top: 114px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #002626;

}

.boton_realizar_pago{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 32px;
  gap: 10px;

  position:absolute;
  width: 169px;
  height: 35px;
  left: 813px;
  top: 126px;

  background: #41A6A6;
  border-radius: 8px;

}

.titulo_boton_realizar_pago{

  width: 105px;
  height: 19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;

}

.imagen_psicologo_en_pagos{

  position: absolute;
  width: 139px;
  height: 116px;
  left: 30px;
  top: 28px;

}