.div_borde_card{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 492px;
  height: 256px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.div_borde_interno_card{

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;

  width: 492px;
  height: 256px;

  border: 1px solid #2D7474;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.div_contenido_card{

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 13px;

  width: 444px;
  height: 222px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.div_informacion_turno{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 444px;
  height: 174px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.div_informacion_turno_interno{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 444px;
  height: 174px;

  border-radius: 10px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.div_background_turno{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 444px;
  height: 174px;

  border-radius: 10px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.div_background_sombra_turno{

  position:relative;
  width: 441.5px;
  height: 174px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: rgb(205 237 237);
  border-radius: 10px;
  
}

.nombre_psicologo_card{

  position: absolute;
  width: 397px;
  height: 31px;
  left: 38px;
  top: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  color: #007F7F;

}

.fecha_turno_card{

  position: absolute;
  width: 462px;
  height: 22px;
  left: 38px;
  top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #002626;

}

.modalidad_turno{
  
  position: absolute;
  width: 317px;
  height: 22px;
  left: 38px;
  top: 92px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #002626;

}

.ha_sido_confimado_o_no{

  position: absolute;
  width: 317px;
  height: 22px;
  left: 38px;
  top: 114px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #002626;

}

.div_botones_de_turnos{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 412px;
  height: 35px;

  flex: none;
  order: 1;
  flex-grow: 0;

}

.boton_ver_mas_informacion{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 32px;
  gap: 10px;

  width: 223px;
  height: 35px;

  background: #41A6A6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.texto_ver_mas_info{

  width: 159px;
  height: 19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.boton_cancelar_turno{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 32px;
  gap: 10px;
  
  width: 179px;
  height: 35px;
  
  background: rgba(255, 0, 0, 0.63);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  
}

.texto_cancelar_turno{

  width: 117px;
  height: 19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;

}