.div_general_login_page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 89px;
}

.body_container {
    height:100vh;
    /* background-image: linear-gradient(to bottom, #7cafff, #32c0ff, #00cefc, #00d9e6, #1ee1c9, #47e5c2, #61e9bb, #78edb4, #6ef1c4, #66f5d4, #61f8e3, #5ffbf1); */
    /* background-image: url('img/slide2.jpg'); */
    background-color: #ECF6F6;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login_container {
    position: absolute;
    width: 1300px;
    height: 600px;
    background-image: linear-gradient(to bottom, #1A4242, #397171, #89b4b4, #aacccc, #cfe1e1, #e9eded, #f0f4ff, #f6f9ff, #ffffff, #ffffff, #d0effe, #c0edf9);
    border-radius:10px;
    padding: 20px 50px;
    top: 140px;
    display: flex;
}

.login_title {
    text-align: center;
    margin-top:20px;
    color:white;
}

.image_container {
    display:flex;
    justify-content: space-between;
    padding: 35px 30px 30px 10px;
}

.image_group {
    flex-basis: calc(50% - 20px);
    transition: .3s all ease;
    border: 1px solid #e1e1e1;
    background-color:#f5f3f3;
    transition: all .3s ease;
    border-radius: 7px;
}

.image_group .MuiSwitch-root {
    margin-left: 110px;
}


.image {
    width: 100%;
    padding: 20px;
    filter: brightness(100deg);
}

.image_group:hover {
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,1);
    box-shadow: 0px 6px 11px -8px rgba(0,0,0,1);
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.action_group {
    margin-top:20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 80%;
}

.login {
    width: 35%;
    padding: 0px 15px;
}

.password_link {
    display: block;
    margin-top: 10px;
}

.division_parte_derecha_login{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.division_parte_izquierda_login{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}